

{% extends  'basic.html' %}

{% load static %}
{% block css %}
<style>
    @media only screen and (max-width:500px){
        .skillsLi{
        width: 33% !important;
    }
    }
</style>
{% endblock css %}
                   
  {% block Rightcontent %}
                        <div class="sticky-home-wrapper">

                            <!-- about area -->
                            <div class="rn-about-area section-height" style="margin-bottom: 10%;"  data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" data-aos-once="false">
                                <div class="inner">
                                    <h5 class="title">
                                        About Me
                                    </h5>
                                    <p class="about-disc">
                                        {{abousUs.aboutus_1 }}
                                    </p>
                                    <p class="about-disc">
                                        {{abousUs.aboutus_2 }}
                                    </p>
                                </div>
                            </div>
                            <!-- about area end -->

                            <!-- Start skiull area -->
                            <div class="rn-skill-area section-height"  data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" data-aos-once="false">
                                <div class="inner slide indexAccordain" >
                            
                                  
                                            <h5 class="title"> Skills</h5>
                                 
                                    <!-- </button> -->
                                    <div class="skill-share-inner pt--100"  >
                                        <span class="title"></span>
                                        <ul class="skill-share d-flex liststyle skills-list">
                                            {% for i in Skills %}
                                           
                                        {% if forloop.counter < 9 %}
                                           <li  class="skillsLi"><a href=""><img src="{{i.skill_Image.url}}" alt="Icons Images" style="    max-height: 71px !important;"></a>
                                      {{i.name}}
                                        </li>  
                                        {% endif %}
                                            {% endfor %}
                                            <li  class="skillsLi"><a href="{% url 'MoreSkills' %}"><img src="{% static 'images/more.png' %}" alt="Icons Images" style="    max-height: 71px !important;"></a>
                                                More
                                                  </li>  
                                        </ul>
                                    </div>
                                   
                                </div>
                            </div>
                            <div data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" data-aos-once="false" class="rn-portfolio-area single-card-sticky section-height">
                                <div class="inner">
                                    <h5 class="title">
                                        Professional Experiences
                                    </h5>
                                    <ul class="card-list">
                                        {% for i in exper %}
                                        {% if forloop.counter < 4 %}
                                        <li><a href="{% url 'ExperiencesDescription' i.Experience_name %}">{{i.Experience_name}} <i data-feather="arrow-right"></i></a></li>
                                        {% endif %}
                                        
{% endfor %}
<li><a href="{% url 'Experiences' %}">More<i data-feather="arrow-right"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                       

                            <!-- start services area -->
                            <div data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" data-aos-once="false" class="rn-skill-area single-card-sticky section-height">
                                <div class="inner">
                                    <h5 class="title">
                                        Services
                                    </h5>
                                    <ul class="card-list">
                                        {% for i in service %}
                                        <li>{{i.service_name}}</i></li>
                                     
                                            {% endfor %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End services area -->

                            <!-- start portfolio area -->
                            <div data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" data-aos-once="false" class="rn-portfolio-area single-card-sticky section-height">
                                <div class="inner">
                                    <h5 class="title">
                                        Projects
                                    </h5>
                                    <ul class="card-list">
                                        {% for i in proj %}
                                        {% if forloop.counter < 4 %}
                                        <li><a href="{% url 'ProjectsDescription' i.Project_name %}">{{i.Project_name}} <i data-feather="arrow-right"></i></a></li>
                                        {% endif %}
                                        
{% endfor %}
<li><a href="{% url 'Projects' %}">More<i data-feather="arrow-right"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                            <div data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" data-aos-once="false" class="rn-portfolio-area single-card-sticky section-height">
                                <div class="inner">
                                    <h5 class="title">
                                        Certifications
                                    </h5>
                                    <ul class="card-list">
                                        {% for i in cert %}
                                        {% if forloop.counter < 4 %}
                                        <li><a href="{% url 'certificationsDescription' i.Certificate_name %}">{{i.Certificate_name}} <i data-feather="arrow-right"></i></a></li>
                                        {% endif %}
                                        
{% endfor %}
<li><a href="{% url 'certifications' %}">More<i data-feather="arrow-right"></i></a></li>

                                    </ul>
                                </div>
                            </div>
                            <!-- End portfolio area -->

                            <!-- start blog area -->
                            <!-- <div data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" data-aos-once="true" class="rn-blog-area single-card-sticky section-height">
                                <div class="inner">
                                    <h5 class="title">
                                        My Blog
                                    </h5>
                                    <ul class="card-list">
                                        <li><a href="#">Ervice refers to quality<i data-feather="arrow-right"></i></a></li>
                                        <li><a href="#">Service is intangible in nature<i data-feather="arrow-right"></i></a></li>
                                        <li><a href="#">Occurs frequently in retailing<i data-feather="arrow-right"></i></a></li>
                                        <li><a href="#">Provided to a customer.<i data-feather="arrow-right"></i></a></li>
                                    </ul>
                                </div>
                            </div> -->
                            <!-- End blog area -->

                            <!-- start testimonial area -->
                            <!-- <div data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" data-aos-once="true" class="rn-testimonial-area testimonial-style-2 section-height">
                                <div class="inner">
                                    <h5 class="title">
                                        Testimonial
                                    </h5>
                                    <div class="rn-testimonial-carousel testimonial-item-one rn-slick-dot-style dot-position-left slick-arrow-style-one arrow-top-align">

                                        <div class="testimonial-inner">
                                            <div class="testimonial-header">
                                                <div class="thumbnail">
                                                    <img src="assets/images/client/testimonial-1.jpg" alt="client-image">
                                                </div>
                                                <h5 class="ts-header">
                                                    <span class="text-color-primary">@Rafi</span> Engineer
                                                </h5>
                                            </div>
                                            <div class="testimonial-body">
                                                <p class="discription">Martine duke thank you as well for your
                                                    template from <span>@Alamin_Orko</span> ! The team is using
                                                    it too. It'll
                                                    really speed up the design and development process 💨.</p>
                                            </div>
                                        </div>
                                       
                                        <div class="testimonial-inner">
                                            <div class="testimonial-header">
                                                <div class="thumbnail">
                                                    <img src="assets/images/client/testimonial-2.jpg" alt="client-image">
                                                </div>
                                                <h5 class="ts-header">
                                                    <span class="text-color-primary">@Nipa</span> Tech
                                                </h5>
                                            </div>
                                            <div class="testimonial-body">
                                                <p class="discription">Martine duke thank you as well for your
                                                    template from <span>@Alamin_Orko</span> ! The team is using
                                                    it too. It'll
                                                    really speed up the design and development process 💨.</p>
                                            </div>
                                        </div>

                                        <div class="testimonial-inner">
                                            <div class="testimonial-header">
                                                <div class="thumbnail">
                                                    <img src="assets/images/client/testimonial-3.jpg" alt="client-image">
                                                </div>
                                                <h5 class="ts-header">
                                                    <span class="text-color-primary">@Web</span> know
                                                </h5>
                                            </div>
                                            <div class="testimonial-body">
                                                <p class="discription">Martine duke thank you as well for your
                                                    template from <span>@Alamin_Orko</span> ! The team is using
                                                    it too. It'll
                                                    really speed up the design and development process 💨.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div> -->
                            <!-- End testimonial area -->

                            <!-- Start contact area -->
                            {% include 'contact/contactComponent.html' %}
                            <!-- End contact area -->

                        </div>
                    
                    {% endblock Rightcontent %}