{% load static %}
<div class="rn-skill-area section-height">
    <div class="inner slide social-handles">
        <h5 class="title">
            Social Media
        </h5>
        <div class="skill-share-inner pt--100">
            <ul class="skill-share d-flex liststyle">
                <li style="width: 21% !important;
    height: 21% !important;
    line-height: 81px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;"><a href="https://api.whatsapp.com/send?phone=9413944510&text=Hii,%20"  target="__blank"><img  style="   max-height: 71px !important;
    box-shadow: var(--shadow1) !important ;" src="{% static 'images/socialIcons/whatsapp.png' %}"
                            alt="Icons Images"></a></li>
                <li style="width: 21% !important;
    height: 21% !important;
    line-height: 81px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;"><a href="https://github.com/pawan941394"  target="__blank"><img  style="   max-height: 71px !important;
    box-shadow: var(--shadow1) !important ;" src="{% static 'images/socialIcons/github.png' %}"
                            alt="Icons Images"></a></li>
                <li style="width: 21% !important;
    height: 21% !important;
    line-height: 81px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;"><a href="https://www.instagram.com/pawan941394/"  target="__blank"><img style="   max-height: 71px !important;
    box-shadow: var(--shadow1) !important ;"  src="{% static 'images/socialIcons/instagram.png' %}"
                            alt="Icons Images"></a></li>
                <li style="width: 21% !important;
    height: 21% !important;
    line-height: 81px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;"><a href="https://www.linkedin.com/in/pawan941394/"><img style="   max-height: 71px !important;
    box-shadow: var(--shadow1) !important ;"  src="{% static 'images/socialIcons/linkedin.png' %}"
                            alt="Icons Images"  target="__blank"></a></li>
              


            </ul>
        </div>

    </div>
</div>