{% extends  'basic.html' %} {% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/fullstackproject.css' %}">
    {% endblock css %}
    {% block Rightcontent %}
<div class="sticky-home-wrapper" data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" data-aos-once="true">
    <div data-aos="fade-left" data-aos-duration="500" data-aos-delay="200" data-aos-once="false" class="rn-portfolio-area single-card-sticky section-height">
        <div class="inner">
            <h5 class="title">
              Professional Experiences
            </h5>
            <ul class="card-list">

                {% for i in Experience %}
                                        <li><a href="{% url 'ExperiencesDescription' i.Experience_name  %}">{{i.Experience_name}}<i data-feather="arrow-right"></i></a></li>
                                      
{% endfor %}


            </ul>
        </div>
    </div>
    {% include '../contact/contactComponent.html' %}
 
    <!-- End contact area -->

</div>
{% include 'socialIcons.html' %}     
                    {% endblock Rightcontent %}



               